
<h2>
    Welcome to main page of application
</h2>

<div class="row">
    <div class="col-md-12">
        <img src="http://thewriterpreneur.com/wp-content/uploads/2018/02/newsletter-marketing.jpg" class="img-responsive"/>
    </div>
</div>